@import "./variables/variables";

progress {
    border: 0;
    background: $black;
    border-radius: 100px;
  }
  
  progress::-moz-progress-bar {
    border-radius: 100px;
    background: $linear-gradient;
  }
  
  progress::-webkit-progress-bar {
    background: $white;
    border-radius: 100px;
  }
  
  progress::-webkit-progress-value {
    border-radius: 100px;
    background: $linear-gradient;
  }
