@import "./variables/variables";

table, th {
    border: 1px solid $black;
    border-radius: 3px;
    background-color: $green;
    font-family: $default-fonts;
    padding-top: 30px;
    text-align: left;
    line-height: 40px;
}

td {
    background-color: $lightblue;
    border: 1px solid $black;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
}
